{% load static %}
<!DOCTYPE html>
<head>
    <title>Anubis NVR</title>
    <!---loads favico using django static-->
    <link rel="icon" type="image/x-icon" href="{% static 'anubis.ico'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!---loads css file using django static-->
    <link rel="stylesheet" href="{% static 'Login.css' %}">
    <!--Javascript for div onclick-->
    <script src="{% static 'login.js' %}">
    </script>
    {% if messages %}
    {% for messages in messages %}
              <p class="message-{{ messages.tags }}">{{ messages }}</p>
    {% endfor %}
    {% endif %}
    <div class="logo"></div>
    <div class="login-block" id="login-block">
        <h1>LOGIN</h1>
        <form method="POST">
            {% csrf_token %}
        <input type="text" value="" placeholder="Username" id="username" name="username" />
        <input type="password" value="" placeholder="Password" id="password" name="password" />
            <button>Submit</button>
            <h5>Don't have an account?. <a href="#" onclick="signup()">Sign-up Here</a></h5>
        </form>
    </div>
    <div class="login-block" id="signup-block" style="display: none;">
        <h1>Sign-up</h1>
        <form method="POST">
            {% csrf_token %}
            <h6 class="centered" id="passwordcenter" style="display:none; margin-bottom: 10;" >Passwords Don't Match.</h6>
        <input type="text" value="" placeholder="Signup-Name" id="signup1" name="signupname"/>
        <input type="password" value="" placeholder="Password" id="pass1" name="password1" onkeyup="check()" />
        <input type="password" value="" placeholder="Confirm Password" id="pass2" name="password2" onkeyup="check()" />
            <button id="button">Sign-up</button>
            <h5>Already Have an Account?. <a href="#" onclick="login()">Login Here</a></h5>
        </form>
    </div>
</head>